#diff-input {
    caret-color: transparent
}

.quantity::-webkit-inner-spin-button, 
.quantity::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input.placeholder {
    text-align: center;
}

body{
  font-family: 'Frank Ruhl Libre', serif;
  background-color: #D5D5D5;
  zoom: 75%;

}

.title {
  font-family: 'Crimson Text', serif;
  text-decoration: underline;
}

html, body {
  height:100%;
}

